exportPattern("^[[:alpha:]]+")
S3method(plot, cv.npmr)
S3method(plot, npmr)
S3method(predict, cv.npmr)
S3method(predict, npmr)
S3method(print, cv.npmr)
S3method(print, npmr)
importFrom("graphics", "arrows", "legend", "plot", "points", "text")
importFrom("stats", "model.matrix", "predict")
